@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
    --branco-1: #FFFFFF;
    --branco-2: #F5F5F5;
    --bege: #A2A2A2;
    --campo-erro: #FF0000;
    --cinza-1: #464646;
    --cinza-2: #C8C8C8;
    --azul-claro-1: #2A7AE4;
    --azul-claro-2: #D4E4FA;
    --azul-claro-3: #EAF2FD;
    --azul-claro-4: #5595E9;
}

* {
    box-sizing: border-box;
}

html, body, input, textarea {
    font-family: 'Raleway', sans-serif;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}