.campos__titulo {
    color: var(--cinza-1);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    max-width: 600px;
    width: 80%;
}

.campos__formulario {
    max-width: 600px;
    width: 80%;
}

.formulario__grupo {
    margin-bottom: 1.5rem;
    width: 100%;
}

.formulario__botao {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .campos__titulo {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}