.contato {
    background-color: var(--azul-claro-3);
    justify-content: space-between;
    row-gap: 2rem;
}

.contato__mais-informacoes {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    row-gap: 1.25rem;
}

.mais-informacoes__lista {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mais-informacoes__logo {
    flex-direction: column;
}

.mais-informacoes__item {
    text-align: center;
}

.mais-informacoes__link {
    color: var(--cinza-1);
    font-size: 1rem;
    font-weight: 500;
    transition: color 100ms;
}

.mais-informacoes__link:hover {
    color: var(--azul-claro-4);
}

.contato__fale-conosco {
    width: 100%;
}

.fale-conosco__titulo {
    color: var(--cinza-1);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

.fale-conosco__formulario {
    display: flex;
    flex-direction: column;
}

.formulario__grupo--nome {
    margin-bottom: 1.5rem;
}

.formulario__grupo--mensagem {
    margin-bottom: .5rem;
}

.formulario__campo-titulo {
    z-index: 1;
}

.formulario__botao {
    width: 160px;
}

@media screen and (min-width: 768px) {
    .contato {
        align-items: flex-start;
        flex-direction: row;
    }

    .mais-informacoes__item {
        text-align: left;
    }

    .contato__fale-conosco {
        flex: 1 1 auto;
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .contato__mais-informacoes {
        flex-direction: row;
    }

    .mais-informacoes__links {
        position: absolute;
        left: 50%;
    }
}