.login__titulo {
    color: var(--cinza-1);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.login__formulario {
    max-width: 400px;
    width: 100%;
}

.formulario__grupo {
    margin-bottom: 1.5rem;
    width: 100%;
}

.formulario__campo-titulo {
    width: calc(100% - 2rem);
}

.formulario__botao {
    width: 100%;
}