.produtos__categoria:not(:first-child) .produtos__cabecalho {
    margin-top: 2rem;
}

.produto:nth-child(5), .produto:nth-child(6) {
    display: none;
}

@media screen and (min-width: 768px) {

    .produtos__categoria:not(:first-child) .produtos__cabecalho {
        margin-top: 4rem;
    }
}