.produtos {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.produtos__cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.produtos__titulo {
    color: var(--cinza-1);
    font-size: 1.5rem;
    font-weight: 700;
}

.produtos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 2%;
}

.produto {
    position: relative;
    width: 49%;
}

.produto__painel-administracao {
    position: absolute;
    right: 5px;
    top: 5px;
}

.painel-administracao__botao {
    background-color: rgb(207, 207, 207, 0.25);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.painel-administracao__botao--deletar {
    background-image: url("../images/painel-edicao/deletar.png");
    margin-right: 4px;
}

.painel-administracao__botao--deletar:hover {
    background-color: red;
}

.painel-administracao__botao--editar {
    background-image: url("../images/painel-edicao/editar.png");
}

.painel-administracao__botao--editar:hover {
    background-color: green;
}

.produto__imagem {
    height: 160px;
    margin-bottom: .5rem;
    object-fit: cover;
    width: 100%;
}

.produto__nome {
    color: var(--cinza-1);
    font-size: .95rem;
    font-weight: 500;
    height: 2rem;
    margin-bottom: .75rem;
}

.produto__preco {
    color: var(--cinza-1);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

.produto__link, .produtos__subtitulo {
    color: var(--azul-claro-1);
    font-size: 1rem;
    font-weight: 700;
}

.produto__link:hover, .produtos__subtitulo:hover {
    color: var(--azul-claro-4);
}

@media screen and (min-width: 768px) {
    .produtos {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .produtos__container {
        display: flex;
        gap: 2rem 4%;
    }
    
    .produto {
        width: 22%;
    }
}

@media screen and (min-width: 1024px) {
    .produtos {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .produtos__container {
        gap: 2rem 2%;
    }

    .produtos__titulo {
        font-size: 2rem;
    }
    
    .produto {
        width: 15%;
    }

    .produto:nth-child(5), .produto:nth-child(6) {
        display: initial;
    }
}